APP_NAME="AGRI-SENSE AI"
DATABASE_NAME="postgres"
DATABASE_URL="postgresql://agrisense_db_hxp7_user:fZFAOvfVmnnhOCDMwJQKaybTO4lJvHvm@dpg-darue760tbcc73d3l7r0-a/agrisense_db_hxp7"
SECRET_KEY="f13e455c0f9bbe25a54f6d163083d5ef3908e34482d28c807e0173f3e4be5424"
ALGORITHM=HS256
EXPIRE_ACCESS_TOKEN=60
GROQ_API_KEY="your_groq_api_key_here"
OPENWEATHER_API_KEY="b27dbb61ce12f14911ac7fb20edef14b"
