APP_NAME="AGRI-SENSE AI — Backend "
DATABASE_NAME="postgres"
DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/agri_db"
SECRET_KEY="your strong secret key"
ALGORITHM=HS256
EXPIRE_ACCESS_TOKEN=30