APP_NAME="AGRI-SENSE AI — Backend "
DATABASE_NAME="postgres"
DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/agri_db"
SECRET_KEY="your strong secret key"
ALGORITHM=HS256
EXPIRE_ACCESS_TOKEN=30

GROQ_API_KEY="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"
OPENWEATHER_API_KEY="b27dbb61ce12f14911ac7fb20edef14b"